body {
    background-color: #eee;
}
p {
    max-width: 350px;
    background-color: #f00;
    margin: auto;
    /* Fixed para poner como un contenido que cuando hagas scroll en la pagina 
       siga apareciendo ejemplo wasap */
    position: fixed;
    left: 15px;

}
div {
    position: none;
}
h1 {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
